@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* font-family: 'Cormorant Upright', serif;
font-family: ;'Open Sans', sans-serif*/

*{

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
input {
  outline: none
}

.navlink{
  font-size: 20px;
  text-decoration: none;
  font-family: 'Cormorant Upright', serif;
  color: white;
  margin: 10px;
}

body {
    width: 99vw;
    height: 99vh
}

input {
  outline: none;
}

.logo{
  font-family: 'Cormorant Upright', serif;
  color: #dcca87;
  font-size: 30px;
  font-weight: bold;
  margin: 5px 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header button{
    border: none;
    background-color: transparent;
    color: #dcca87;
    font-weight: 600;

}
h1 {
    text-align: center;
    font-size: 40px;
    color: #dcca87;
    font-family: 'Cormorant Upright', serif;
    margin-bottom: 20px;
}

.userData {
    width: 15%;
    min-width: fit-content;
    height: 8%;
    background-color: black;
    border: 1px solid white;
    margin: auto;
    padding: 10px;
}
.userData p{
    text-align: center;
    font-size: 14px;
    color: white;
    margin: 5px
}

.userPhoto {
    width: 60px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

.buttonAdmin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
}

.buttonAdmin button{
    width: 175px;
    border: none;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
}


.OptionContent a {
    position: relative;
    background-color: #dcca87;
    color: black;
    text-decoration: none;
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 155px;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.OptionContent, .container{
  width: 600px;
  height: 580px;
  display: block;
  margin: auto;
  border: 1px solid white;
  margin-top: 40px;
  background-color: black;
}


table {
    width: 100%;
    border: none;
}

th, td {
    text-align: center;
    padding: 10px
  }

  th {
    border-bottom: 1px solid #ddd;
  }

.tableCnt {
  padding: 20px;
  Overflow-y:scroll;
  height: 430px;
  }

  .tableCnt h2{
    text-align: center;
    font-family: 'Cormorant Upright', serif;
    font-size: 30px;
    color: #dcca87;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #dcca87;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
form {
  margin: auto;
  width: fit-content;
}
  form button {
    border: none;
    background-color: #dcca87;
    color: black;
    display: block;
    margin: auto;
    width: 155px;
    text-align: center;
    padding: 20px 0;
    font-family: 'Cormorant Upright', serif;
    font-weight: bold;
    font-size: 20px
  }

  .form-control{
    border: none;
    border-bottom: 1px white solid;
    margin: 25px 0;
    width: 450px;
    outline: none;
  }

  .container h2{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    font-family: 'Cormorant Upright', serif;
    color: #dcca87;
  }

  .back {
    text-decoration: none;
    margin-top: 25px;
    margin-left: 25px;
    font-weight: bold;
    color: #dcca87;
    background: none;
    border: 1px solid white;
    height: 40px;
    width: 80px;
    font-family: 'Cormorant Upright', serif;
    font-size: 20px;
    font-weight: bold;
  }

  .opt-group{
    padding: 15px 0;
  }
  .formUser .form-group{
    width: 350px;
  }

  .formUser .form-control{
    width: 320px;
  }
  .formUser {
    width: fit-content
  }
  .formUser p{
    margin: 0;
    color: #dcca87
  }

  .userSubmit {
    position: relative;
    margin: auto;
    top: 15px;
  }

 .active {
  font-weight: bold;
  color: #dcca87;
  }
  .white {
    background-color: black;
    }
  .optTable {
    width: 12px;
    padding: 3px;
    background-color: #dcca87;
  }
.formCnt {
  height: 336px;
}