.login-container{
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.login-textLogo {
  display: block;
  margin: auto;
  font-size: 60px;
  color: black;
  font-weight: bolder;
  font-family: 'Cormorant Upright', serif;
}

.login-title {
  display: block;
  text-align: center;
  font-family: 'Cormorant Upright', serif;
  font-size: 34px;
  font-weight: 900;
  color: #dcca87;
}
.login-formContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 650px;
}
.login-form {
  display: flex;
  border: none;
  flex-direction: column;
  align-items: center;
}

.login-eye-icon {
  position: relative;
  bottom: 27%;
  left: 95%;
}

.login-formButton {
  border: none;
  background-color: #dcca87;
  color: black;
  width: 354px;
  height: 70px;
  font-size: 25px;
  font-weight: 900;
  margin-top: 40px;
}
.login-logo {
  padding-bottom: 30px;
}
.login-img {
  height: 140px;
}
