.home{
  position: absolute;
  width: 100%;
  height: 100%;
}
.login-container {
  position: absolute;
  display: flex;
  top:10%;
  height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.login-textLogo {
  display: block;
  margin: auto;
  font-size: 60px;
  color: black;
  font-weight: bolder;
}
.login-form {
  width: 50%;
}
.login-title {
  font-size: 34px;
  font-weight: 900;
  color: #dcca87;
}
.login-formContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 80%;
}

.login-eye-icon {
  position: relative;
  bottom: 30px;
  left: 94%;
}

.login-formButton {
  border: none;
  background-color: #dcca87;
  color: #000000;
  width: 100%;
  height: 70px;
  font-size: 25px;
  font-weight: 900;
  margin-top: 40px;
}
.login-logo {
  padding-bottom: 30px;
}
.login-img {
  height: 140px;
}

/*--------------Nav---------------*/
.login-container .navContainer {
  top: 0;
}

@media only screen and (max-width: 1200px) {
  .login-formContainer {
    width: 70%;
  }
  .login-form {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .login-form {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .login-container {
    top:8%;
    height: 92vh;
  }
  .login-formContainer {
    height: 70%;
  }
  .login-formContainer {
    width: 100%;
  }
  .login-form {
    width: 75%;
  }
  .login-title {
    font-size: 20px;
    margin: 0 0 7% 0;
  }
  .login-formButton{
    font-size: 16px;
    margin-top: 20px;
    height: 60px;
  }
  .login-eye-icon {
    font-size: 1rem !important;
  }
}
