/*--------------------------CHEF------------------*/
.chefContainer {
  position: absolute;
  height: 100vh;
  width: 100%;
}
/*----------------------Chef Pending Orders-------------*/
.chef-ordersContainer {
  position: fixed;
  top: 10%;
  width: 92%;
  height: 80vh;
  color: white;
  flex-wrap: wrap;
  padding: 3% 3.85%;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  overflow-y: scroll;
}
.ordersCard {
  border: 1px solid white;
  background-color: black;
  width: 298px;
  margin: 1% 1% 5% 1%;
  height: max-content;
  padding: 0.5% 1.5%;
}
.orderStatus {
  font-family: sans-serif;
}
.orderClient {
  text-align: center;
  font-size: 24px;
  margin-top: 15px;
  font-family: 'Cormorant Upright', serif;
  font-weight: 500;
  color: #dcca87;
}

.active {
  color: #dcca87;
}
.orderCardButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
}

.chef-orderReady {
  font-family: 'Cormorant Upright', serif;
  background-color: #dcca87;
  color: black;
  font-weight: bolder;
  font-size: 16px;
  border: 1px solid #dcca87;
  width: 35%;
  height: 80%;
}

.chef-orderContent {
  display: flex;
  flex-direction: row;
}
.chef-item {
  flex: 90;
  text-align: left;
}
.chef-qty {
  flex: 10;
  text-align: center;
}
.orderTimer {
  margin: 15px 5px;
  font-weight: bold;
  text-align: end;
  color: #dcca87;
}
@media only screen and (max-width: 500px) {
  .waiterHeaderAllOrder {
    height: 10%;
  }
  .chef-orderReady {
    font-size: 14px;
  }
  .ordersCard{
    width: 230px;
  }
  .orderClient{
    font-size: 16px;
  }
  .chef-item, .orderStatus{
    font-size: 13px;
  }
}
