/*--------------------------Waiter------------------*/ 
.waiterContainer{
    position: absolute;
    height: 100vh;
    width: 100%;
}

/*--------------------------Waiter New Order------------------*/ 
.waiterNewOrderContainer{
    position: relative;
    top: 10%;
    width: 100%;
    height: 90vh;
    color: white;
}
.waiterHeader{
    padding: 4% 0 5%;
    display: grid;
    justify-content: center;
    grid-template-columns: 45% 45%;
}
.waiterHeaderSection1{
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
}
.waiterHeaderSection2{
    padding-left: 10%;
}
.waiterInput{
    width: 60%;
    font-size: 16px;
    color: white;
    background-color: black;
    border: 1px solid #cac2a5;
    outline: none;
    text-align: center;
    height: 95%;
}
.waiterBody{
    display: grid;
    justify-content: center;
    grid-template-columns: 45% 45%;
    height: 78%;
}
.waiterProductsSection{
    overflow-y: auto;
    max-height: 95%;
}
.waiterOrderSection{
    padding: 0 0 0 10%;
    overflow-y: auto;
    max-height: 95%;
}
.waiterProductsContainer{
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
}
.waiterProductCard{
    width: 40%;
    padding: 5%;
}
.waiterProductCardText{
    font-size: 16px;
    color: #b9b08c;
    line-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.waiterProductCardImage{
    padding: 5% 0;
}
.waiterImgCard{
    max-width: 100%;
    height: auto;
}
/*---------------------Waiter Table Order----------------*/
.waiterOrderTitle{
    text-align: center;
    padding-bottom: 5%;
}
.waiterOrderTable th{
    padding: 0;
    color: #b9b08c;
    border-bottom: 0;
    text-align: initial;
}
.waiterOrderTable td{
    padding: 10px 0;
    text-align: initial;
}
.golden{
    color: #b9b08c;
}
.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.logo{
    font-family: 'Cormorant Upright', serif;
    color: #dcca87;
    font-size: 30px;
    font-weight: bold;
    margin: 5px 10px;
}

/*-------------Waiter All Orders------------------*/
.waiterHeader.allOrder{
    padding-left: 4%;
}
.waiterAllOrdersBody{
    padding: 5% 0;
    max-height: 78%;
    overflow-y: scroll;
}
.waiterOrdersCardContainer{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.ordersCard {
    margin: 4%;
    border: 1px solid white;
    background-color: black;
    width: 300px;
    height: 320px;
}
.chef-item{
    flex: 90;
    text-align: left;
}
.chef-qty{
    flex: 10;
    text-align: center;
}
.chef-orderReady{
    display: block;
    margin: auto;
    font-family: 'Cormorant Upright', serif;
    background-color: #dcca87;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    border: 1px solid #dcca87;
    width: 80px;
    height: 40px;
}